:root {
  --primary-color: #f06292;
  --secondary-color: #ec407a;
  font-size: 16px;
  font-family: Lato, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* * {
} */

*,
*::before,
*::after {
  box-sizing: border-box !important;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  /* color: var(--primary-color); */
  color: white;
  font-size: 3rem;
  margin: 0;
  margin-top: 0.5rem;
}

.header > h3 {
  color: white;
}

h2 {
  font-size: 2rem;
}

.spacer {
  flex: 1;
}

.button {
  display: inline-block;
  font-size: 18px;
  padding: 0.75rem 1rem;
  border: solid 4px black;
  color: black;
  font-weight: 700;
  text-decoration: none !important;
  transition: color 0.1s ease-out, border-color 0.1s ease-out,
    background-color 0.1s ease-out;
}

.button:hover {
  color: white;
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}

.avatar {
  width: 196px;
  height: 196px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

.header {
  display: flex;
  height: 500px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/hero.png");
  background-size: cover;
  background-position: center;
  flex-direction: column;
  align-items: center;
}

.quick-links {
  position: absolute;
  display: flex;
  width: 100%;
  padding: 1rem 2rem;
  justify-content: flex-end;
}

.quick-links > a {
  color: #fff;
  margin: 0 0.5rem;
  font-size: 1.25rem;
}

.container {
  width: 75%;
  max-width: 1500px;
  align-self: center;
  padding-top: 2rem;
}

#about {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 4rem;
}

.about-img {
  max-width: 100%;
}

.about-info > p {
  max-width: 500px;
}

.project-grid {
  display: flex;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2rem;
}

.card {
  position: relative;
  display: flex;
  padding: 2.5rem 2rem;
  flex-direction: column;
  border-radius: 4px;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.35);
  transition: box-shadow 0.2s ease-out;
}

.card:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5);
}

.card > .avatar {
  width: 128px;
  height: 128px;
  margin-bottom: 2rem;
}

.card-name {
  margin: 0;
  margin-bottom: 0.5rem;
}

.card-line {
  margin: 0;
}

.card-clicker {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  display: flex;
  height: 150px;
  margin-top: 2rem;
  background: #474747;
  color: #fff;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

#media {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 4rem;
}

#media h2 {
  margin: 0;
  margin-bottom: 1rem;
}

#media :not(h2) {
  font-size: 1.2rem;
}

.link-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link-list li {
  margin-bottom: 0.25rem;
}

.link-list a {
  display: flex;
  align-items: center;
  color: #000;
}

.link-list img {
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5rem;
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
    max-width: 100%;
    padding: 2rem;
  }

  #about {
    grid-template-columns: initial;
    grid-template-rows: auto 1fr;
    grid-gap: 0;
  }

  .about-info,
  .about-info > p,
  .about-img {
    width: 100%;
    max-width: 100%;
  }
}
